[Desktop Entry]
Name=Old School RuneScape
Comment="The Massively Multiplayer Online Role Playing Game set in the fantasy land of Gielinor"
Exec=runescape.osrs
Icon=${SNAP}/meta/gui/osrs.png
Type=Application
Categories=Game;
PrefersNonDefaultGPU=true
