[Desktop Entry]
Name=RuneScape
Comment="The Massively Multiplayer Online Role Playing Game set in the fantasy land of Gielinor"
Exec=rs3-launcher
Icon=usr/share/pixmaps/rs3.png
Type=Application
Categories=Game;
MimeType=x-scheme-handler/rs-launch;x-scheme-handler/rs-launchs
PrefersNonDefaultGPU=true
